/* стили основного контента */
.cont
{
    height: 100%;
    width: 79%;
    margin-top: 0;
    margin-right: 0;
    margin-left: calc(20% + 4px);
    border-left: #D1D6DA solid 1px;
    box-sizing: border-box;
}

/*основной раздел*/
.title{

    font-size: 2.8rem;
    font-family: Inter;
    font-weight: 700;
    color: #3A3A3A;
    border: 1px red solid;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;

    vertical-align: middle;
}

.mainSettings
{
    border: 1px green solid;

    margin-left: 4rem;
    color: #3A3A3A;
}
.mainSettings p
{
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px #D1D6DA solid;
}

table
{
    font-size: 1.5rem;
    font-family: Inter;

    border: 1px blue solid;
    width: 70%;
}

td, tr{
    border: 1px green solid;
}

.titleTd
{
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 400;
}
.underTd
{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-family: Inter;
    font-weight: 400;
    color: #A7A7A7;
}
.listTd
{
 margin-right: 1rem;
 text-align: center;
}